body {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: white;
}

#toggleBtn {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
}

#toggleBtn:hover {
  background-color: #c20b0b;
}
